.text-hardwrap {
    overflow: auto;
    overflow-wrap: break-word;
}

.info-labels > DIV {
    padding-bottom: 0.4rem;
}

.modal-picklist .container {
    height: 70vh;
    overflow-y: auto;
}

.transfer-labels {
    white-space: nowrap;
}

/*
.transfer-labels DIV {
    display: inline-block;
}
*/

.navbar .nav-link {
    white-space: nowrap;
}

.nouveau {
    font-weight: bold;
}

.clear {
    clear: left;
}

.editeur-body {
    height: 15rem;
    padding-bottom: 2rem;
}

.afficher DIV.ql-editor {
    padding: 0;
}

.sujet {
    padding-top: 1rem;
}

.buttonbar {
    text-align: center;
}

.buttonbar BUTTON {
    margin-right: 1em;
    margin-left: 1em;
}

.buttonbar-right {
    text-align: right;
}

.buttonbar-right BUTTON {
    margin-left: 1em;
}