@use "sass:map";

@import "@dugrema/millegrilles.reactjs/src/overrides.scss";
@import "~bootstrap/scss/bootstrap";
@import "@dugrema/millegrilles.reactjs/src/styles.scss";
@import "@dugrema/millegrilles.reactjs/src/listefichiers.scss";
@import "@dugrema/millegrilles.reactjs/src/ModalViewer.scss";

/* Page applications */
.applications A {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.25rem;
    text-align: center;
    background: $second-color;
}

.liste-boutons DIV, 
.liste-boutons BUTTON {
    margin-right: 0.25rem;
    margin-bottom: 1rem;
}
.boutons.preauth {
    margin-top: 3rem;
}
.boutons.preauth button {
    margin-right: 1rem;
    width: 7rem;
}
$xsmall-width: map.get($grid-breakpoints, xs);
@media (min-width: $xsmall-width) {
    div.boutons.preauth .bouton-gauche { text-align: center; }
    div.boutons.preauth .bouton-droite { text-align: center; }  
}

.qr-code-background {
    background: #fff;
    padding: 0.3rem;
}

.fichiers-header-buttonbar {
    margin-bottom: 1rem;
    text-align: right;
}

.fichiers-header-buttonbar div div {
    margin-left: 0.25rem;
}

div.upload {
    display: inline-block;
}

.upload.dropping button {
    color: $first-color;
    background: $fourth-color;
}

.upload input {
    display: none;
}

.modal-body .btn-secondary {
    background: $first-color;
}

.form-select:disabled {
    background-color: $second-color;
}

.dropdown-menu {
    background-color: $second-color;
}

.dropdown-item {
    background-color: $second-color;
}